/* Styles Accordion */

.accordion * {
    margin: 0;
}

.accordion {
    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-panel {
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding);
    border-radius: 10px;
    transition: flex-basis 1s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

@media (min-width: 800px) {
    .accordion {
        flex-direction: row;
        width: 80%;
    }

    .accordion-panel {
        height: 450px;
        flex-grow: 1;
    }

    .accordion-title::after {
        content: "";
        left: calc((1rem + var(--_button-size)) * -1);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        height: var(--_button-size);
        background: hsl(0 0% 0% / 0.5);
        width: calc(100% + (var(--_button-size) * 2));
        z-index: -1;
    }

    .accordion-panel:has([aria-expanded="false"]) .accordion-title {
        color: transparent !important;
    }

    .accordion-panel:has([aria-expanded="false"]) .accordion-content p {
        opacity: 0;
    }

    .accordion-panel:has([aria-expanded="false"]) .accordion-content i {
        opacity: 0;
    }
}

.accordion-image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: 0% 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: filter 1s;
}

.accordion-panel:has([aria-expanded="true"]) .accordion-image {
    filter: brightness(0.5);
}

.accordion-icon {
    color: white !important;
    width: var(--_button-size);
    align-items: center;
    justify-content: center;

    padding: 0.75rem;

    font-size: 1.25rem;
    z-index: 10;
}

.accordion-trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: center;
    background: transparent;
    border: 0;
    padding: 0;
}

.accordion-panel:has([aria-expanded="true"]) {
    flex-basis: clamp(15rem, 60vh, 35rem);
}

.accordion-panel:has([aria-expanded="true"]) .accordion-content p {
    opacity: 1;
}

.accordion-panel:has([aria-expanded="false"]) .accordion-content p {
    opacity: 0;
    transition: opacity 0ms;
}

.accordion-content > p {
    color: var(--background-100);
    opacity: 0;
    transition: transform 500ms 500ms, opacity 2s 500ms;
    margin: 0.25rem;
}

.accordion-content {
    display: flex;
    flex-flow: column-reverse;
    flex-grow: 1;
    align-items: center;
    gap: 1rem;
}

.accordion-title {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    position: relative;
    isolation: isolate;
    display: grid;
    align-items: center;
}

@media (max-width: 45em) {
    .accordion-title::after {
        content: "";
        left: calc((1rem + var(--_button-size)) * -1);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        height: var(--_button-size);
        background: hsl(0 0% 0% / 0.5);
        width: calc(100% + (var(--_button-size) * 2));
        z-index: -1;
    }
}

.accordion-content i {
    font-size: 2.5rem;
    padding-inline: 0.25rem;
    color: #db0000 !important;
    filter: brightness(0.9);
    border-radius: 10px;

    opacity: 0.9;
    transition: scale 500ms;
}

.accordion-content i:hover {
    scale: 1.1;
}
